.carousel {
  position: relative;
  height: 600px;
  width: auto;
}
.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: $button-border-radius;
}
.carousel__track {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  height: 100%;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__button {
  height: auto;
  width: 1.25rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  color: $grey-color-light;
}
.carousel__button--left {
  left: -1.5rem;
}
.carousel__button--right {
  right: -1.5rem;
}
.carousel__nav {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0.25rem;
  background-color: $grey-color-light;
  cursor: pointer;
  transition: background-color 300ms;
}
.carousel__indicator.current-slide {
  background-color: $brand-color-primary;
}
.is-hidden { 
  color: $grey-color-light;
  pointer-events: none;
}
.is-hidden svg:hover {
  cursor: not-allowed;
}
