---
layout: default
---

<div class="home content">
  {%- if page.title -%}
  <header class="content-header">
    <h2>{{ page.title }}</h2>
  </header>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="content-body">
    <h2 class="content-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="content-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
  </div>
  {%- endif -%}

</div>
